name: Build
on:
  push:
  pull_request: {}
jobs:
  build:
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        go:
        - oldstable
        - stable
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: >-
          WORKAROUND: Fetch tags that points to the revisions
          checked-out(actions/checkout#1467)
        run: |-
          git fetch --tags --force

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go }}

      - name: Build
        run: make cross
      - name: Upload macadam artifact
        if: matrix.go == 'stable'
        uses: actions/upload-artifact@v4
        with:
          name: amd64 linux binary
          path: "./bin/macadam-linux-amd64"
  test:
    needs: build
    strategy:
      matrix:
        os:
        - ubuntu-22.04
        - macos-13
        - windows-latest
    runs-on: ${{ matrix.os }}
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: 'go.mod'
      - name: Test
        run: make test
  lint:
    needs: build
    runs-on: ubuntu-22.04
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: 'go.mod'
      - name: Run 'make check'
        run: make check
